{%extends "layout.html" %}
{% block content %}
<h1> View and Resolve all open Complaints</h1>
<!-- add some vertical space -->
<div style="height: 20px;"></div>
<table id=table1 style="width: auto;" class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Complaint ID </th>
            <th style="width: 50%">Complaint </th>
            <th style="width: 10%">Status</th>
            <th style="width: 15%">OpenDate<br> Creater</th>
            <!-- <th style="width: 15%">CloseDate</th> -->
        </tr>
    </thead>
    {% for item in complaints%}
    <tr>
        <td>{{item[1]}} </td>
        <td>{{item[2]}} <br> {{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}} <br>{{item[0]}}</td>
        <!-- <td>{{item[6]}} </td> -->
    </tr>

    {%endfor%}
</table>
<hr>
<hr>
<h4> Resolve the Complaint</h4>
<form method="POST" action="/ResolveComplaint">
    <label for="letters">Complaint id </label><br>
    <input type="text" value="" name="complaint_id" /><br><br>

    <label for="filtertext">Comments</label><br>
    <textarea cols=50 value="" name="comments" /></textarea><br>
    <br>
    <input type="submit" value="Resolve Complaint" name="rescmp" />
</form>


<script type="text/javascript">

    $(document).ready(function () {
        $('#table1').DataTable({
            dom: 'lBfrtip',
            buttons: [
                'copy',
                {
                    extend: 'csv',
                    filename: 'Complaints'
                },
                {
                    extend: 'excel',
                    filename: 'Complaints',
                    title: 'Complaints',
                    messageTop: null,

                },
                {
                    extend: 'pdf',
                    filename: 'Complaints',
                    title: 'Complaints',
                    messageBottom: null
                },
                {
                    extend: 'print',
                    title: 'Complaints',
                    messageTop: null,
                    messageBottom: null
                }
            ]
        });
        //for more customizations
        // $('#table1').DataTable({
        //             pageLength: 100,
        //             ordering: false
        //         });
    });

</script>
{% endblock content %}